AuthenticationService/.idea
AuthenticationService/vendor
.idea
GroupService/.idea
GroupService/vendor
GroupService/.env

CategoryService/.idea
CategoryService/vendor
CategoryService/.env

ProductService/.idea
ProductService/vendor
ProductService/.env

OrderService/.idea
OrderService/vendor
OrderService/.env
/ImgService/node_modules/
